@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800&family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Kanit", serif, "Noto Sans", sans-serif;
}

html {
    font-family: Verdana;
    font-size: 1px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

.bg-cover {
    background-image: url('/img/undraw_website_zbig.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Garante que o fundo não se mova com o conteúdo */
    min-height: 100vh;
}

.card-p5 {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 14px;
    padding: 40px;
    width: 100%;
    max-width: 400px; /* Limita a largura do cartão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-primary {
    background-color: #2196F3;
    border-color: #1976D2;
}

.bodyesqueci {
    background-image: url('/img/undraw_cat_lqdj.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.es{
    background-image: url('/img/undraw_cat_lqdj.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.formedit{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content : center;
    justify-content: center;

}
