@model AccountViewModel


<body class="es">
    <form class="formedit">
        <div class="title">
            <h1>Recuperar senha</h1>
        </div>
        <div class="input-box">
            <label for="Password">Nova senha</label>
            <input id="Password" type="password" name="Password" placeholder="Digite sua nova senha" required />
        </div>
        <div class="input-box">
            <label for="Password">Confime sua senha</label>
            <input id="Password" type="password" name="Password" placeholder="Digite sua nova senha" required />
        </div>
        <div class="buttonConfirmar">
            <button type="submit" class="btn btn-primary w-100">Confirmar</button>
        </div>
    </form>
</body>
