@model AccountViewModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Login</title>
</head>




<body class="bg-cover">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card-p5">
            <h2 class="text-center mb-4 text-white">LOGIN</h2>
            <form method="post" action="@Url.Action("Login", "Account")">
                <div class="mb-3">
                    <label for="inputEmail" class="form-label text-light">Nome</label>
                    <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="Digite seu nome de usuário." required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label text-light">Senha</label>
                    <input type="password" class="form-control" id="inputPassword" name="Password" placeholder="Digite sua senha." required>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="RememberMe">
                    <label class="form-check-label text-light" for="rememberMe">Lembrar-me</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </div>
                <div class="mb-1 text-center">
                    <a href="@Url.Action("Register", "Account")" class="text-link">Cadastrar-se</a>
                </div>
                <div class="mb-3 text-center">
                    <a href="@Url.Action("Esqueci", "Account")" class="text-link">Esqueceu a senha?</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
