@model AccountViewModel

<div class="container">
    <div class="row">
        <form>
            <div class="mb-3 col-3">
                <label for="inputEmail" class="form-label">Nome</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu nome de usuário." required>
            </div>
            <div class="mb-3 col-3">
                <label for="inputPassword" class="form-label">Senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha." required>
            </div>
            <div class="mb-3 col-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Lembrar-me</label>
            </div>
            <div class="mb-3 col-3">
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </div>
            <div class="mb-3 col-3">
               <p>Não tem uma conta?</p>
               <a></a>
            </div>
        </form>
    </div>
</div>
</div>
